@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

body{
    background-color:white;
    font-family: 'Public Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

/* Nav Bar */

nav{
    position: fixed !important;
    background-color: white;
    box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 60px;
    z-index: 5;
}

.nav-links {
    border-bottom: 5px solid transparent;
}

.nav-links:hover{
    border-bottom: 5px solid black;
    border-image: linear-gradient(to right, #40C886 , #33BDAF);
    border-image-slice: 1;
}
.main-nav-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    /* height: 70px; */
}

.all-a-tag{
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-evenly;
    color: lightgray;

}
.all-a-tag a{
    color: #8A8B8E !important;
}

a{
    text-decoration: none !important;
}

.request-invite-btn button{
    border-radius: 60px;
    background-image: linear-gradient(to bottom right,#47D06A ,#2CB9CB);
    border: none;
    outline: none; 
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.request-invite-btn img{
    display: none;
}
 a:hover{
    cursor: pointer;
    text-decoration: none;
 }

.hamburger-pop-up{
    align-items: center;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    display: none;

}
.hamburger-pop-up a{
    color: black;
}

/* Intro */
.intro-div{
    display: flex;
    width: 100vw;
    height: 85vh;
    justify-content: flex-end;
}
.right-background-img{
    height: 100%;
    position: relative;
}
.desktop-bg{
    position: absolute;
    top: -250px;
    left: -60;
}
.mockup-img{
    position: absolute;
    top: -120px;
    left: 100px;
}
.about-right{
    width: 50%;
    height:100% ;
    position: relative;
}

.about-left{
    width: 40%;
}
.para{
   color: #95949A;
}
.about-left button{
    border-radius: 60px;
    background-image: linear-gradient(to bottom right,#47D06A ,#2CB9CB);
    border: none;
    outline: none; 
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.mobile-bg{
    visibility: hidden;
}

.card{
    width: 23%;
}
.card-text-title:hover{
    color: #33BDAE;
    cursor: pointer;
}
.card-img{
    height: 215px;
}


/* Online banking Icons */
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-img{
    width: 24%;
}
.icon-para{
    font-size: 1.5rem;
}
.para-white{
    color: white;
}
.last-request-invite-btn{
    border-radius: 60px;
    background-image: linear-gradient(to bottom right,#47D06A ,#2CB9CB);
    border: none;
    outline: none; 
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.lg-btn {
    transition: all 0.2s;
}
.lg-btn:hover {
    background-image: linear-gradient(to right,#81E3A7 ,#80D4E0);
}

.contact-continer{
    display: flex;
    justify-content: space-between;
    height:170px;
}
.para-white p:hover{
    color: #33BDAE;
    cursor: pointer;
}
.footer-icons i{
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}
.footer-icons i:hover{
    color: #33BDAE;
}

 /* Media Query  */
 @media only screen and (max-width: 860px) {
    .all-a-tag, .request-invite-btn button{
        display: none;
    }
    .request-invite-btn img{
        display: block;
        margin-top: 7px;
        cursor: pointer;
    }
    .hamburger-pop-up{
        display: flex;
        flex-direction: column;
        position: absolute !important;
        top: 80px;
        width: 80vw;
        left: 10vw;
        background-color: white;
    }
    .intro-div{
        flex-direction: column-reverse;
        height: auto;
    }
    .about-right{
        height:60vh;
        width: 100vw;
        margin-bottom: 100px;
    }
    .about-left{
        width: 100vw;
    }
    .mockup-img{
        transform: scale(0.7);
        left: -10%;
        top: -300px;
        z-index: 1;
    }
    .desktop-bg{
        visibility: hidden;
    }
    .mobile-bg{
        visibility: visible;
        position: absolute;
        top: -40px;
        width: 110vw;
        height: 100%;
    }
    .left-intro-text{
        text-align: center;
    }
    .why-choose-easybank-text {
        text-align: center;
    }
    .about-left{
        padding-bottom: 100px;
    }
    .why-choose-easybank-text p{
        text-align: center;
        width: 70vw;
        margin-left: -20px;
    }
    
    .icons{
        display: flex;
        flex-direction: column;
    }
    .icon-img{
        width: 100%;
        text-align: center;
    }
   
   .latest-article{
        flex-direction: column;
        width: 100%;;
   }
   .latest-article p{
       text-align: center;
   }
   .card-main-div{
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       top: 0;
   }
   .card{
        position: absolute;
        top: 0px;
        padding-left:40%;
        width: 100%;
   }
   .contact{
       display: flex;
       flex-direction: column;
   }
   .card-img{
       height: 180px;
   }
   .contact-continer{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
}
@media only screen and (max-width: 640px){
    .mockup-img{
        transform: scale(0.4);
        left: -210px;
        top: -300px;
    }
    .about-right{
        margin-bottom: 0;
    }
}